<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
    <script defer src="../script.js"></script>
  </head>
  <body>
    <footer class="footer__main">
      <div class="logo">
        <img src="../images/logo-footer.svg" alt="EasyBank Logo" />
        <div>
          <a href="#">
            <svg>
              <use xlink:href="../images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
          <a href="#">
            <svg>
              <use xlink:href="../images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
          <a href="#">
            <svg>
              <use xlink:href="../images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
          <a href="#">
            <svg>
              <use xlink:href="../images/sprite.svg#icon-pinterest"></use>
            </svg>
          </a>
          <a href="#">
            <svg>
              <use xlink:href="../images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="menu__list">
        <ul>
          <li>About Us</li>
          <li>Contact</li>
          <li>Blog</li>
        </ul>
        <ul>
          <li>Careers</li>
          <li>Support</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
      <div class="copyright">
        <button class="btn">Request Invite</button>
        <p>&copy;Easybank. All Rights Reserved</p>
      </div>
    </footer>
    <!-- About Us Contact Blog Careers Support Privacy Policy Request Invite ©
   -->
  </body>
</html>
