<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
    <script defer src="../script.js"></script>
  </head>
  <body>
    <header class="container">
      <div class="images">
        <picture>
          <source
            media="(min-width: 700px)"
            srcset="../images/bg-intro-desktop.svg"
          />
          <img
            class="intro__image"
            src="../images/bg-intro-mobile.svg"
            alt=""
          />
        </picture>
        <img class="mockup" src="../images/image-mockups.png" alt="" />
      </div>

      <div class="content">
        <h2 class="heading__content">Next generation digital banking</h2>
        <p class="heading__text">
          Take your financial life online. Your Easybank account will be a
          one-stop-shop for spending, saving, budgeting, investing, and much
          more.
        </p>
        <button class="btn btn__header">Request Invite</button>
      </div>
    </header>
  </body>
</html>
